<br>
<br>
<br>
<br>
<div class="continer container-fluid col-10">
    <h2>Update project:</h2>
    <br>
    <form action="" class="text-info text-xl-start" style="position: relative">
        <label for="nombre">Project name:</label>
        <input style="position: absolute; left: 200px;" type="text" name="namePro" [(ngModel)]="namePro">
        <br>
        <br>
        <label for="tecnologia">Tecnology used:</label>
        <input style="position: absolute; left: 200px;" type="text" name="tecnology" [(ngModel)]="technology">
        <br>
        <br>
        <label for="tecnologia">Year:</label>
        <input style="position: absolute; left: 200px;" type="text" name="year" [(ngModel)]="year">
        <br>
        <br>
        <input type="submit" class="btn btn-dark" value="Update" (click)="updateProject()">
    </form>
  </div>

