<h1 style="text-align: center;">{{title}}</h1>
<br>
<br>
<br>
<!-- Directiva ngModel -->
<form action="">
  Name: <input type="text" name="nombre" [(ngModel)]="nombre">
  <br>
  Surname: <input type="text">
  <br>
  <input type="submit" value="Login" (click)="registroUsuario()">
</form>

<br>
<!-- Directiva if else -->
<h3 *ngIf="estaRegistrado; else sinRegistrar">{{mensaje}}</h3>

<ng-template #sinRegistrar>
  <p>No hay nadie registrado</p>
</ng-template>

<br>

<!-- Directiva for -->
<ul>
  <h3>Lista de peliculas</h3>
  <li *ngFor="let item of listaPeliculas">
    <i>{{item.pelicula}}</i>
  </li>
</ul>
<ul>
  <h3>Lista de peliculas con index</h3>
  <li *ngFor="let item of listaPeliculas; let i = index">
    <i><span>{{i + 1}}. </span>{{item.pelicula}}</i>
  </li>
</ul>
<br>
<!-- Directiva ngStyle (se crea una condicion) -->
<input type="submit" value="I tu est del barça?" (click)="yoSocDelBarsa()">

<h2><span [ngStyle]="{color: barsa == false ? 'black' : 'blue'}">Visca el </span><span
    [ngStyle]="{color: barsa == false ? 'black' : 'red'}">BARÇA!!!</span></h2>

<!-- Directiva ng Class -->

<p [ngClass]="{probandoDirectiva: putaRM == 'puta real madrid'}">Si escribes "puta real madrid" voy a crecer!</p>
<input type="text" [(ngModel)]="putaRM">
<br>
<br>
<br>
<br>

<!-- Ejercicio con directivas -->

<app-persona></app-persona>