<h1 style="text-align: center;">{{title}}</h1>
<br>
<br>
<br>
<!-- Directiva ngModel -->
<form action="">
  Name: <input type="text" name="nombre" [(ngModel)]="nombre">
  <br>
  Surname: <input type="text">
  <br>
  <input type="submit" value="Login" (click)="registroUsuario()">
</form>

<br>
<!-- Directiva if else -->
<h3 *ngIf="estaRegistrado; else sinRegistrar">{{mensaje}}</h3>

<ng-template #sinRegistrar>
  <p>No hay nadie registrado</p>
</ng-template>

<br>

<!-- Directiva for -->
<ul>
  <h3>Lista de peliculas</h3>
  <li *ngFor="let item of listaPeliculas">
    <i>{{item.pelicula}}</i>
  </li>
</ul>
<ul>
  <h3>Lista de peliculas con index</h3>
  <li *ngFor="let item of listaPeliculas; let i = index">
    <i><span>{{i + 1}}. </span>{{item.pelicula}}</i>
  </li>
</ul>