<br>
<br>
<br>
<br>
<div class="continer container-fluid col-10">
    <h2>Crea un nuevo proyecto:</h2>
    <br>
    <form action="" class="text-info text-xl-start" style="position: relative">
        <label for="nombre">Nombre del proyecto:</label>
        <input style="position: absolute; left: 200px;" type="text" name="nombre" [(ngModel)]="nombre">
        <br>
        <br>
        <label for="tecnologia">Tecnologia usada:</label>
        <input style="position: absolute; left: 200px;" type="text" name="tecnologia" [(ngModel)]="tecnologia">
        <br>
        <br>
        <input type="submit" class="btn btn-dark" value="Crear" (click)="agregarListaProyectos()">
    </form>
    <br>
    <br>
    <button class="btn btn-primary" (click)="verPro()">Ver lista de proyectos</button>
    <br>
    <br>
  </div>
